body {
	/* background: linear-gradient(var(--medium-main), var(--darkest-main)); */
	/* background-color: green; */
	background-attachment: fixed; /* needed for not line at start */
	display: flex;
	align-items: center;
	margin: 0px;
	padding: 0px;
}
#backgroundimage {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background: linear-gradient(var(--medium-main), var(--darkest-main));
	z-index: -1;
}
/* * {
	margin: 10px;
} */
main {
	width: 100%;
}
.back {
	position: sticky;
}
h2 {
	text-align: center;
}
/* #kortommig {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */
img {
	min-width: 50%;
	max-width: 50%;
	border-radius: 20px;
	margin: 10px;
}
h1 {
	margin-top: 50px;
}
article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
h2 {
	text-align: center;
}
article p {
	margin: 10px;
	min-width: 50%;
}

@media (min-width: 600px) {
	* {
		text-align: left;
	}
	h1 {
		text-align: center;
	}
	img {
		min-width: 30%;
		max-width: 30%;
	}
	article {
		flex-direction: row;
		margin: 10px;
		margin-top: 100px;
	}
	.rightArticle {
		flex-direction: row-reverse;
	}
	.typeContainer {
		flex-direction: column;
	}
}
